@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
 }

  body {
    font-family: Arial, Helvetica, sans-serif;
 }

 h1 {
    text-align: center;
 }

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    gap: 20px;
}

 .comprar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #a8f;
    color: #103;
    text-decoration: none;
 }

 .item {
    background-color: #f7f7f7;
    border: 1px solid #e7e7e7;
    padding: 20px;
    border-radius: 4px;
 }